
<div class='pending-items'>
  <h3>Orders to fulfill</h3>

  <div class='pending-items-stats'>
    <h4>Pending Count: <%= @pending_count%></h4>
    <h4>Pending Revenue: <%= @pending_revenue%></h4>
  </div>

  <% @pending_order_items.each do |oitem| %>

    <span class='pending-item' id="pending-<%= oitem.id %>">
      <h4><%= oitem.item.name %></h4>
      <p><%= oitem.quantity %></p>
      <% possible = (oitem.quantity <= oitem.item.inventory) %>
      <% if possible %>
        <%= button_to "Fulfill", order_item_fulfill_path(order_id: oitem.order_id, order_item_id: oitem.id), method: :patch %>
      <% else %>
        <p>Not enough inventory</p>
      <% end %>

    </span>

  <% end %>
</div>
